@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "./theme.scss";
@import "./color.scss";
@font-face {
    font-family: "utm_avo";
    src: url("../font/UTM\ Avo.ttf");
}
@import "../font/myriad/style.css";
html,
body {
    font-family: "Myriad Pro Regular", "Myriad Pro Condensed", "Myriad Pro Condensed Italic", "Myriad Pro Light",
        "Myriad Pro Semibold", "Myriad Pro Semibold Italic", "Myriad Pro Bold Condensed", "Myriad Pro Bold",
        "Myriad Pro Bold Italic", "Myriad Pro Bold Condensed Italic";
    font-weight: normal;
    overflow-x: hidden;
}
