<template>
  <div class="frigo">
    <loading v-if="loading" />
    <div class="top-bar">
      <b-container fluid>
        <b-row>
          <b-col cols="7" md="5" class="logo">
            <a href="#">
              <img src="~@/assets/images/logo-w.png" alt="" height="70px" width="auto" />
            </a>
          </b-col>
          <b-col cols="5" md="7" class="d-flex justify-content-end align-items-center">
            <div class="nav-menu">
              <div class="menu-item position-relative">
                <a @click="doc = !doc" style="cursor:pointer">Giới Thiệu</a>
                <div class="popup-doc" v-if="doc">
                  <div class="item">
                    <a href="/Fringo Club Proposal en.pdf" target="_blank">
                      Fringo Club Proposal English
                    </a>
                  </div>
                  <div class="item">
                    <a href="/Fringo Club Proposal vi.pdf" target="_blank">
                      ringo Club Proposal Vietnamese
                    </a>
                  </div>
                </div>
                <!-- <b-dropdown variant="outline-dark" right text="Giới Thiệu" class="text-white">
                  <b-dropdown-item>
                    <a href="/Fringo Club Proposal en.pdf">Proposal English</a>
                  </b-dropdown-item>
                  <b-dropdown-divider></b-dropdown-divider>
                  <b-dropdown-item>
                    <a href="/Fringo Club Proposal en.pdf">Proposal Vietnamese</a>
                  </b-dropdown-item>
                </b-dropdown> -->
              </div>
              <div class="menu-item">
                <a href="https://fringo.club/web-mobile/" target="_blank">Nạp Tiền</a>
              </div>
              <div class="menu-item">
                <a href="https://fringo.club/web-mobile/" target="_blank">Đại Lý</a>
              </div>
              <div class="menu-item">
                <a href="https://fringo.club/web-mobile/" target="_blank"> Đăng Ký</a>
              </div>
            </div>
            <div class="mobile-menu">
              <img
                @click="menuPanel = true"
                src="~@/assets/images/icon/menu.svg"
                alt=""
                srcset=""
                height="40px"
                style="cursor: pointer;"
              />
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="main-content">
      <div class="section section-1 align-items-center">
        <b-container fluid>
          <b-row class="align-items-center">
            <b-col cols="12" lg="1"></b-col>
            <b-col
              cols="12"
              lg="7"
              class="left-content"
              data-aos="fade-right"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false"
            >
              <img class="img-logo" src="~@/assets/images/logo.png" alt="" />
              <img class="img-text" src="~@/assets/images/mockup/text1.png" alt="" />
              <div class="hr dec-color" style="height: 5px;max-width: 500px;"></div>
            </b-col>
            <b-col cols="12" lg="3"></b-col>
          </b-row>
        </b-container>
      </div>
      <div class="section section-2" id="s2">
        <b-container>
          <div
            class="section-title"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            giới thiệu về fringo club
          </div>
          <b-row class="align-items-center">
            <b-col
              cols="12"
              lg="6"
              data-aos="fade-right"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false"
            >
              <div class="text-content-2">
                <span>Fringo Club</span> là cổng game tổng hợp rất nhiều game đánh bài đối kháng
                online đa dạng và phong phú được rất nhiều người ưa thích như
                <span> Tiến lên miền Nam, Sâm lốc, ba cây, phỏm, chắn, Binh…</span> Bên cạnh những
                ván bài đầy hấp dẫn,<span> “tên game”</span> còn cung cấp<span>
                  Tài xỉu, Xèng, Vòng quay may mắn,…
                </span>
                để bạn có thể thử vận may của mình
              </div>
            </b-col>
            <b-col
              cols="12"
              lg="6"
              class="text-center"
              data-aos="fade-left"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false"
            >
              <img src="~@/assets/images/mockup/sc2_1.png" class="sc2-1-img" alt="" srcset="" />
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" class="mt-5 position-relative">
              <div class="youtube-block">
                <img src="~@/assets/images/mockup/sc2_yt.png" alt="" />
                <div id="player" class="yt-tv" />
              </div>
              <div class="btn-trailer">
                <img src="~@/assets/images/mockup/btn-trailer.png" alt="" />
              </div>
            </b-col>
          </b-row>
          <img class="girl-2" src="~@/assets/images/mockup/g2.png" alt="" />
        </b-container>
      </div>
      <div class="section section-3" id="s3">
        <b-container>
          <div class="section-title">
            thăng hoa cùng những tựa game đánh đánh bài hấp dẫn
          </div>
          <div
            class="game-section"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            <img src="~@/assets/images/mockup/sc3_1.png" alt="" srcset="" />
            <img src="~@/assets/images/mockup/sc3_2.png" alt="" srcset="" />
            <img src="~@/assets/images/mockup/sc3_3.png" alt="" srcset="" />
          </div>
          <div
            class="game-section"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            <img src="~@/assets/images/mockup/sc3_4.png" alt="" srcset="" />
            <img src="~@/assets/images/mockup/sc3_5.png" alt="" srcset="" />
            <img src="~@/assets/images/mockup/sc3_6.png" alt="" srcset="" />
            <img src="~@/assets/images/mockup/sc3_7.png" alt="" srcset="" />
          </div>
          <div
            class="game-section"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            <img src="~@/assets/images/mockup/sc3_8.png" alt="" srcset="" />
            <img src="~@/assets/images/mockup/sc3_8.png" alt="" srcset="" />
            <img src="~@/assets/images/mockup/sc3_10.png" alt="" srcset="" />
            <img src="~@/assets/images/mockup/sc3_11.png" alt="" srcset="" />
            <img src="~@/assets/images/mockup/sc3_12.png" alt="" srcset="" />
          </div>
        </b-container>
      </div>
      <div class="section section-4" id="s4">
        <b-container>
          <b-row
            data-aos="fade-right"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            <b-col cols="12" md="6" class="firts">
              <div class="text">
                <div class="section-title-sub">
                  trải nghiệm chơi bài
                </div>
                <div class="hr dec-color"></div>
                <p>
                  một cách thực tế nhất.
                </p>
              </div>
              <div class="play-now">
                <b-button variant="outline" class="px-0" @click="playnow">
                  <img src="~@/assets/images/mockup/btn-play.png" alt="" />
                </b-button>
              </div>
            </b-col>
            <b-col cols="12" md="6" class="text-center">
              <img src="~@/assets/images/mockup/sc4_1.png" alt="" srcset="" class="img-show" />
            </b-col>
          </b-row>
          <b-row
            data-aos="fade-left"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            <b-col cols="12" md="6" class="text-center">
              <img src="~@/assets/images/mockup/sc4_2.png" alt="" srcset="" class="img-show" />
            </b-col>
            <b-col cols="12" md="6" class="second">
              <div class="text">
                <div class="section-title-sub">
                  thêm bạn - thêm vui
                </div>
                <div class="hr dec-color"></div>
                <p>
                  kết bạn và mời bạn bè cùng trải nghiệm
                </p>
              </div>
              <div class="play-now" @click="playnow">
                <b-button variant="outline" class="px-0">
                  <img src="~@/assets/images/mockup/btn-play-2.png" alt="" />
                </b-button>
              </div>
            </b-col>
          </b-row>
          <img src="~@/assets/images/mockup/g3.png" alt="" srcset="" class="girl-4" />
        </b-container>
      </div>
      <div class="section section-5">
        <b-container>
          <div
            class="section-title"
            data-aos="fade-down"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            NẠP RÚT TIỀN NHANH CHÓNG CHỈ TRONG
          </div>
          <div
            class="section-title-yellow"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            <img src="~@/assets/images/mockup/30s.png" alt="" />
          </div>
          <div class="hr dec-color"></div>
          <img
            src="~@/assets/images/mockup/sc5_1.png"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            alt=""
            srcset=""
            class="sc5-main-img"
          />
          <div class="sub">
            giao dịch nhanh chóng qua nền tảng blockchain
          </div>
        </b-container>
      </div>
      <div class="section section-6">
        <b-container>
          <div
            class="section-title"
            data-aos="fade-left"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            ĐƯỢC PHÁT TRIỂN TRÊN NỀN TẢNG WEBSITE VÀ ỨNG DỤNG ĐIỆN THOẠI DI ĐỘNG.
          </div>
          <div class="hr dec-color"></div>
          <div
            class="sub-title"
            data-aos="fade-right"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            <span>Fringo Club </span> hoạt động trên cả <span> 2 nền tảng </span> là
            <span> website</span> và <span> ứng dụng trên điện thoại di động </span>
            giúp cho bạn có thể chơi game ở bất cứ đâu, bất cứ khi nào mà bạn muốn.
          </div>
          <img
            src="~@/assets/images/mockup/sc6_1.png"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            alt=""
            srcset=""
            class="sc6-main-img"
          />
        </b-container>
      </div>
      <div class="section section-7">
        <img
          src="~@/assets/images/mockup/g4.png"
          alt=""
          srcset=""
          class="girl-4"
          data-aos="fade-up"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="false"
        />
        <b-container fluid>
          <b-row>
            <b-col cols="12" md="4"></b-col>
            <b-col cols="12" md="8">
              <div
                class="section-title"
                data-aos="fade-left"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                vì sao không thể bỏ lỡ fringo club
              </div>
              <div class="hr dec-color"></div>
            </b-col>
            <b-col cols="4"> </b-col>
            <b-col cols="8" class="text-center">
              <div
                class="slide-sc-7"
                data-aos="fade-right"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <carousel
                  :autoplay="true"
                  :autoplayTimeout="2000"
                  :autoplayHoverPause="true"
                  :loop="true"
                  :paginationEnabled="false"
                  :perPageCustom="[
                    [320, 1],
                    [768, 2],
                    [1024, 3],
                  ]"
                >
                  <slide>
                    <div class="box-item box-1">
                      <img src="~@/assets/images/mockup/sc7_1.png" alt="" />
                      <p>Cung cấp đa dạng những tựa game đánh bài</p>
                    </div>
                  </slide>
                  <slide>
                    <div class="box-item box-2">
                      <img src="~@/assets/images/mockup/sc7_2.png" alt="" />
                      <p>Đồ họa siêu đỉnh âm thanh sống động</p>
                    </div>
                  </slide>
                  <slide>
                    <div class="box-item box-3">
                      <img src="~@/assets/images/mockup/sc7_3.png" alt="" />
                      <p>Giao diện thân thiện và tôi ưu trên mọi nền tảng</p>
                    </div>
                  </slide>
                </carousel>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <div class="section section-8">
        <img
          src="~@/assets/images/mockup/s9.png"
          alt=""
          class="s9"
          data-aos="fade-down"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="false"
        />
        <img
          src="~@/assets/images/mockup/g5.png"
          alt=""
          srcset=""
          class="girl-5"
          data-aos="fade-up"
          data-aos-delay="50"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          data-aos-mirror="true"
          data-aos-once="false"
        />
        <b-container fluid>
          <b-row>
            <b-col cols="8" class="text-center">
              <div
                class="slide-sc-8"
                data-aos="fade-left"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
              >
                <carousel
                  :autoplay="true"
                  :autoplayTimeout="2000"
                  :autoplayHoverPause="true"
                  :loop="true"
                  :paginationEnabled="false"
                  :perPageCustom="[
                    [320, 1],
                    [768, 2],
                    [1024, 3],
                  ]"
                >
                  <slide>
                    <div class="box-item box-1">
                      <img src="~@/assets/images/mockup/sc7_4.png" alt="" />
                      <p>Hàng loạt các sự kiện tặng quà - GiftCode</p>
                    </div>
                  </slide>
                  <slide>
                    <div class="box-item box-2">
                      <img src="~@/assets/images/mockup/sc7_5.png" alt="" />
                      <p>Các giải đấu giao lưu với những phần quà giá trị</p>
                    </div>
                  </slide>
                  <slide>
                    <div class="box-item box-3">
                      <img src="~@/assets/images/mockup/sc7_6.png" alt="" />
                      <p>Hệ thống nhiệm vụ đa dạng phong phú</p>
                    </div>
                  </slide>
                </carousel>
              </div>
            </b-col>
            <b-col cols="4"> </b-col>
          </b-row>
        </b-container>
      </div>
      <div class="section section-9" id="s5">
        <b-container fluid>
          <div
            class="section-title"
            data-aos="fade-down"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            game bài có tỷ lệ thắng cao nhất thê giới
          </div>
          <div class="hr dec-color"></div>
          <div
            class="section-title"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
          >
            kiếm tiền nhanh chóng
          </div>
          <div class="download-box">
            <img
              src="~@/assets/images/mockup/download.png"
              alt=""
              class="girl"
              data-aos="zoom-out"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false"
            />
            <img
              src="~@/assets/images/mockup/download-btn.png"
              alt=""
              class="btn-download"
              data-aos="zoom-out-up"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false"
            />
          </div>
        </b-container>
      </div>
    </div>
    <div class="footer">
      <b-container fluid>
        <div class="footer-content">
          <div class="footer-item d-flex flex-column align-items-start px-2">
            <div class="section-title">
              Về chúng tôi
            </div>
            <p>
              <span>Fringo Club </span> - cổng game tổng hợp rất nhiều game đánh bài online đa dạng
              và phong phú được rất nhiều người ưa thích. Đặc biết với tính năng đối kháng hấp dẫn.
            </p>
          </div>
          <div class="footer-item d-flex flex-column align-items-start px-2">
            <div class="section-title ml-2">
              Menu
            </div>
            <ul class="menu">
              <li>
                <a href="#s2"><span>Giới thiệu về Fringo Club</span></a>
              </li>
              <li><a href="#s4">Trải nghiệm của người chơi</a></li>
              <li>
                <a href="#s2">Giới thiệu về <span>Fringo Club</span> </a>
              </li>
              <li><a href="#s2">Trailer video game</a></li>
              <li><a href="#s3">Thăng hoa cùng những game bài hấp dẫn</a></li>
              <li><a href="#s5">Tải ứng dụng</a></li>
            </ul>
          </div>
          <div class="footer-item d-flex flex-column align-items-start px-2">
            <div class="section-title">
              liên hệ
            </div>
            <div class="hr dec-color"></div>
            <div class="social flex-wrap">
              <a href=" https://t.me/joinchat/eRUfj9RBK5cxMTg1" target="_blank">
                <img src="~@/assets/images/mockup/telegram.png" alt="" srcset="" />
              </a>
              <a href="https://t.me/joinchat/1Pz2jFdoHowwZjM9" target="_blank">
                <img src="~@/assets/images/mockup/telegram.png" alt="" srcset="" />
              </a>
              <a href="https://www.youtube.com/channel/UCEN-wWpKxCkq3aYumUO3jrQ" target="_blank">
                <img src="~@/assets/images/mockup/facebook.png" alt="" srcset="" />
              </a>
              <a
                href="https://www.facebook.com/Fringo-108686494738086/?ref=pages_you_manage"
                target="_blank"
              >
                <img src="~@/assets/images/mockup/youtube.png" alt="" srcset="" />
              </a>
              <a href="https://twitter.com/fringoclub" target="_blank">
                <img src="~@/assets/images/mockup/twitter.png" alt="" srcset="" />
              </a>
            </div>
            <a href="#">
              <img src="~@/assets/images/logo.png" alt="" srcset="" />
            </a>
          </div>
        </div>
      </b-container>
    </div>
    <div class="panel-menu" v-if="menuPanel == true && widthL <= 767">
      <div class="close-btn">
        <img src="~@/assets/images/icon/close.svg" alt="" @click="menuPanel = false" />
      </div>
      <div class="nav-menu">
        <div class="menu-item">
          <a @click="docmobile = !docmobile" style="cursor: pointer;">Giới Thiệu</a>
          <div
            class="item-panel-menu"
            style="
            box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 50%);
            border-radius: 10px;
            padding: 10px 0px;
            "
            v-show="docmobile"
          >
            <div class="item my-1">
              <a href="/Fringo Club Proposal en.pdf" target="_blank">
                Fringo Club Proposal English
              </a>
            </div>
            <div class="item my-1">
              <a href="/Fringo Club Proposal vi.pdf" target="_blank">
                ringo Club Proposal Vietnamese
              </a>
            </div>
          </div>
        </div>
        <div class="menu-item">
          <a href="https://fringo.club/web-mobile/" target="_blank">Nạp Tiền</a>
        </div>
        <div class="menu-item">
          <a href="https://fringo.club/web-mobile/" target="_blank">Đại Lý</a>
        </div>
        <div class="menu-item">
          <a href="https://fringo.club/web-mobile/" target="_blank"> Đăng Ký</a>
        </div>
      </div>
      <div class="hr dec-color"></div>
      <div class="social flex-wrap">
        <a href=" https://t.me/joinchat/eRUfj9RBK5cxMTg1" target="_blank">
          <img src="~@/assets/images/mockup/telegram.png" alt="" srcset="" />
        </a>
        <a href="https://t.me/joinchat/1Pz2jFdoHowwZjM9" target="_blank">
          <img src="~@/assets/images/mockup/telegram.png" alt="" srcset="" />
        </a>
        <a href="https://www.youtube.com/channel/UCEN-wWpKxCkq3aYumUO3jrQ" target="_blank">
          <img src="~@/assets/images/mockup/facebook.png" alt="" srcset="" />
        </a>
        <a
          href="https://www.facebook.com/Fringo-108686494738086/?ref=pages_you_manage"
          target="_blank"
        >
          <img src="~@/assets/images/mockup/youtube.png" alt="" srcset="" />
        </a>
        <a href="https://twitter.com/fringoclub" target="_blank">
          <img src="~@/assets/images/mockup/twitter.png" alt="" srcset="" />
        </a>
      </div>
    </div>
    <div
      class="banner-close"
      v-if="doc || menuPanel"
      @click="
        doc = false;
        menuPanel = !menuPanel;
      "
    ></div>
  </div>
</template>

<script>
import loading from '@/components/Loading.vue';
import { Carousel, Slide } from 'vue-carousel';

export default {
  components: {
    loading,
    Carousel,
    Slide,
  },
  data() {
    return {
      videoId: 'OfLRiecOYx0',
      player: null,
      menuPanel: false,
      widthL: 1920,
      doc: false,
      docmobile: false,
      loading: true,
    };
  },
  methods: {
    onYouTubePlayerAPIReady() {
      const self = this;
      window.YT.ready(() => {
        self.player = new window.YT.Player('player', {
          width: window.innerWidth > 768 ? '680' : '300',
          height: window.innerWidth > 768 ? '380' : '300',
          videoId: self.videoId,
          events: {
            onReady: self.onPlayerReady,
          },
          playerVars: {
            playsinline: 1,
            controls: 0,
            disablekb: 1,
            fs: 0,
            iv_load_policy: 3,
            rel: 0,
            showinfo: 1,
            wmode: 'opaque',
            // origin: 'http://localhost:8080',
          },
        });
      });
    },
    onPlayerReady(event) {
      //   console.log(event);
      event.target.playVideo();
    },
    onResize() {
      this.widthL = window.innerWidth;
    },
    playnow() {
      window.location.href = 'https://fringo.club/web-mobile/';
    },
  },
  mounted() {
    const self = this;
    this.onYouTubePlayerAPIReady();
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    });
    this.widthL = window.innerWidth;
    document.onreadystatechange = () => {
      if (document.readyState === 'complete') {
        self.loading = false;
      }
    };
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },
  computed: {},
};
</script>
<style lang="scss">
#player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 105px);
  height: calc(100% - 135px);
  margin: auto;
  @media (max-width: 575px) {
    width: calc(100% - 60px);
    height: calc(100% - 85px);
  }
}
.menu-item {
  button {
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 700;
    background: none !important;
    border: 0 !important;
  }
}
</style>
<style lang="scss" scoped>
.banner-close {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1) !important;
  z-index: 1040;
}
.top-bar {
  position: fixed;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.78) 0%, rgba(10, 10, 10, 0.8) 100%);
  width: 100%;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1050;
  display: flex;
  align-items: center;
  padding: 5px;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: white;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 0px 19px #ff0055;
    border: 1px solid #ff0055;
    filter: brightness(1.5);
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      height: 100%;
      max-height: 65px;
      width: auto;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    .menu-item {
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      max-width: 200px;
      min-width: 90px;
      button,
      a {
        color: #fff;
        text-transform: capitalize;
        font-size: 17px;
        font-weight: 700;
      }
    }
    .popup-doc {
      position: absolute;
      top: 60px;
      background: white;
      width: 275px;
      height: auto;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      box-shadow: 0px 0px 5px 5px #00000057;
      z-index: 1090;
      .item {
        width: 100%;
        text-align: left;
        padding: 10px;
        text-decoration: underline;
        border-top: 2px solid rgba(0, 0, 0, 0.445);
        &:first-child {
          border-top: 0;
        }
        a {
          color: black;
        }
      }
    }
  }
}
.main-content {
  .section {
    position: relative;
    min-height: 500px;
    display: flex;
    &:first-child {
      &:after {
        top: auto;
        bottom: 9%;
      }
    }
    &:nth-child(2) {
      &:after {
        display: none;
      }
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: '';
      background: white;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      box-shadow: 0px 0px 19px #ff0055;
      border: 1px solid #ff0055;
      filter: brightness(1.5);
    }
    .container-fluid,
    .container {
      .row {
        position: relative;
        z-index: 10;
      }
    }
  }
}
.section-title {
  font: {
    family: 'utm_avo';
    size: 27px;
    weight: 800px;
  }
  text: {
    transform: uppercase;
    align: center;
  }
  color: #fff;
  margin: {
    top: 5px;
    bottom: 50px;
  }
  filter: drop-shadow(0px 0px 15px #ff005579) ;
  text-shadow: (
    2px 0 0 #ee2a7b,
    -2px 0 0 #ee2a7b,
    0 2px 0 #ee2a7b,
    0 -2px 0 #ee2a7b,
    1px 1px #ee2a7b,
    -1px -1px 0 #ee2a7b,
    1px -1px 0 #ee2a7b,
    -1px 1px 0 #ee2a7b
  );
}
.section-title-sub {
  font: {
    family: 'utm_avo';
    size: 27px;
    weight: 800;
  }
  text: {
    transform: uppercase;
    align: center;
  }
  color: #fff;
  filter: drop-shadow(0px 0px 15px #ff005579);
  text-shadow: (
    2px 0 0 #ee2a7b,
    -2px 0 0 #ee2a7b,
    0 2px 0 #ee2a7b,
    0 -2px 0 #ee2a7b,
    1px 1px #ee2a7b,
    -1px -1px 0 #ee2a7b,
    1px -1px 0 #ee2a7b,
    -1px 1px 0 #ee2a7b
  );
  @media (max-width: 425px) {
    font-size: 21px;
  }
}
div.hr.dec-color {
  background: white;
  height: 4px;
  width: 70%;
  border-radius: 2px;
  box-shadow: (0px 0px 19px #ff0055);
  border: 1px solid #ff0055;
  filter: brightness(1.5);
}
.section-1 {
  height: 100vh;
  background: {
    image: url('~@/assets/images/background/bg1.png'), url('~@/assets/images/background/bg1-1.jpg');
    position-y: bottom;
    // color: #70002600;
    size: cover;
    repeat: no-repeat;
    position-x: 65%;
  }
  .left-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    .img-logo {
      width: 170px;
    }
    .img-text {
      margin-top: 30px;
      width: 100%;
      max-width: 700px;
    }
    .img-dec {
      height: 20px;
      width: 70%;
      max-width: 500px;
    }
  }
}
.section-2 {
  background: {
    image: url('~@/assets/images/background/bg2.png');
    position-y: bottom;
    color: #70002600;
    size: cover;
    repeat: no-repeat;
    position-x: 65%;
    attachment: scroll;
  }
  .sc2-1-img {
    width: 100%;
    max-width: 400px;
    filter: drop-shadow(0px 0px 10px #ff1f52c7);
  }
  .text-content-2 {
    width: 100%;
    max-width: 400px;
    color: #fff;
    font-weight: 500;
    text-align: justify;
    direction: rtl;
    margin: {
      left: auto;
      right: auto;
    }
    span {
      color: #fff;
      font-weight: 800;
    }
  }
  .youtube-block {
    width: 720px;
    height: 480px;
    position: relative;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .girl-2 {
    position: absolute;
    width: 300px;
    right: 10%;
    bottom: -10px;
  }
  .btn-trailer {
    text-align: center;
    margin-bottom: 30px;
    img {
      width: 100%;
      max-width: 200px;
    }
  }
  @media (max-width: 1439px) {
    .youtube-block {
      margin-left: 0;
    }
    .btn-trailer {
      width: 720px;
      margin-left: 0;
    }
  }
  @media (max-width: 1024px) {
    .girl-2 {
      right: 10px;
      bottom: -10px;
    }
  }
  @media (max-width: 991px) {
    .youtube-block {
      width: 620px;
      height: 380px;
    }
    .girl-2 {
      right: -10px;
      bottom: -10px;
    }
    .btn-trailer {
      width: 620px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .youtube-block {
      width: 540px;
      height: 360px;
      margin-left: 0;
    }
    .btn-trailer {
      width: 540px;
      margin-left: 0;
    }
    .girl-2 {
      right: -10px;
    }
  }
  @media (max-width: 575px) {
    .youtube-block {
      width: 400px;
      height: 300px;
    }
    .girl-2 {
      width: 200px;
    }
    .btn-trailer {
      width: 400px;
      margin-left: 0;
    }
  }
  @media (max-width: 425px) {
    .youtube-block {
      width: 300px;
      height: 240px;
    }
    .girl-2 {
      width: 200px;
      right: -20px;
      bottom: -19%;
    }
    .btn-trailer {
      width: 300px;
      margin-left: 0;
      text-align: left;
    }
  }
  @media (max-width: 767px) {
    .container {
      max-width: 100%;
    }
  }
}
.section-3 {
  padding: {
    top: 50px;
    bottom: 50px;
  }
  background: {
    image: url('~@/assets/images/background/bg3.png');
    color: #70002600;
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
    position: center center;
  }
  .game-section {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    @media (max-width: 1440px) {
      flex-wrap: wrap;
    }
    &:last-child {
      margin-bottom: 10px;
    }
    img {
      max-width: 200px;
      max-height: 200px;
      flex: 1;
      margin: {
        left: 10px;
        right: 10px;
      }
    }
  }
}
.section-4 {
  padding: {
    top: 50px;
    bottom: 50px;
  }
  background: {
    image: url('~@/assets/images/background/bg4.png');
    color: #70002600;
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
    position: center center;
  }
  .firts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    align-content: flex-end;
    justify-content: center;
    color: #fff;
    p {
      text-transform: capitalize;
      font-size: 19px;
      text-transform: capitalize;
      font-weight: 900;
    }
    .hr.dec-color {
      margin: 25px 0 25px auto;
    }
    @media (max-width: 767px) {
      position: absolute;
      z-index: 10;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    align-content: flex-start;
    justify-content: center;
    color: #fff;
    p {
      text-transform: capitalize;
      font-size: 19px;
      text-transform: capitalize;
      font-weight: 900;
    }
    .hr.dec-color {
      margin: 25px auto 25px 0;
    }
    @media (max-width: 767px) {
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 20;
    }
  }
  .play-now {
    margin-top: 40px;
  }
  .row {
    min-height: 400px;
    align-items: center;
  }
  .img-show {
    width: 100%;
    max-width: 400px;
    filter: drop-shadow(0px 0px 10px #ff1f52c7);
    margin: auto;
    @media (max-width: 767px) {
      filter: drop-shadow(0px 0px 10px #ff1f52c7) brightness(0.3);
    }
  }
  .girl-4 {
    position: absolute;
    height: 480px;
    right: 3%;
    bottom: -10px;
    @media (max-width: 575px) {
      width: 205px;
      height: auto;
      z-index: 9;
      right: 0;
      top: 42%;
    }
  }
}
.section-5 {
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: {
    top: 50px;
    bottom: 50px;
  }
  background: {
    image: url('~@/assets/images/background/bg5.png');
    color: #70002600;
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
    position: center center;
  }
  .section-title {
    margin-bottom: 15px;
  }
  .section-title-yellow {
    img {
      max-width: 300px;
      filter: drop-shadow(0px 0px 28px #ff0055);
    }
  }
  .sc5-main-img {
    max-width: 600px;
    @media (max-width: 991px) {
      width: 100%;
      max-width: 100%;
    }
  }
  .hr.dec-color {
    margin: 15px auto 15px auto;
    max-width: 250px;
  }
  .sub {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;
  }
}
.section-6 {
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: {
    top: 50px;
    bottom: 50px;
  }
  background: {
    image: url('~@/assets/images/background/bg6.png');
    color: #70002600;
    size: cover;
    repeat: no-repeat;
    // attachment: fixed;
    position: center center;
  }
  .section-title {
    margin-bottom: 15px;
  }
  .hr.dec-color {
    margin: 25px auto 25px auto;
    min-width: 250px;
    width: 70%;
    box-shadow: (0px 0px 23.4774px #ff0055);
  }
  .sub-title {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;
    max-width: 700px;
    text-align: center;
    margin: auto;
    span {
      font-weight: 800;
    }
  }
  .sc6-main-img {
    width: 100%;
    margin-top: 65px;
    max-width: 800px;
  }
}
.section-7 {
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: {
    top: 100px;
    bottom: 100px;
  }
  background: {
    image: url('~@/assets/images/background/bg7.png');
    color: #70002600;
    size: cover;
    repeat: no-repeat;
    // attachment: fixed;
    position: center center;
  }
  .hr.dec-color {
    margin: 15px auto 15px auto;
    min-width: 250px;
    width: 70%;
    max-width: 400px;
    box-shadow: (0px 0px 23.4774px #ff0055);
  }
  .section-title {
    margin-bottom: 10px;
  }
  .slide-sc-7 {
    margin-top: 50px;
    .box-item {
      max-width: 215px;
      width: 100%;
      margin: auto;
      @media (min-width: 1024px) {
        &.box-1 {
          margin-right: 0;
        }
        &.box-3 {
          margin-left: 0;
        }
      }

      img {
        width: 100%;
      }
      p {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding: {
          top: 20px;
          bottom: 20px;
        }
      }
    }
  }
  .girl-4 {
    width: 380px;
    position: absolute;
    bottom: 0;
    left: 10%;
    @media (max-width: 575px) {
      width: 250px;
      left: 0;
    }
  }
}
.section-8 {
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: {
    top: 100px;
    bottom: 100px;
  }
  background: {
    image: url('~@/assets/images/background/bg8.png');
    color: #70002600;
    size: cover;
    repeat: no-repeat;
    attachment: scroll;
    position: {
      x: center;
      y: bottom;
    }
  }
  .hr.dec-color {
    margin: 15px auto 15px auto;
    min-width: 250px;
    width: 70%;
    max-width: 400px;
    box-shadow: (0px 0px 23.4774px #ff0055);
  }
  .section-title {
    margin-bottom: 10px;
  }
  .slide-sc-8 {
    margin-top: 50px;
    .box-item {
      max-width: 215px;
      width: 100%;
      margin: auto;
      @media (min-width: 1024px) {
        &.box-1 {
          margin-right: 0;
        }
        &.box-3 {
          margin-left: 0;
        }
      }
      img {
        width: 100%;
      }
      p {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding: {
          top: 20px;
          bottom: 20px;
        }
      }
    }
    @media (max-width: 425px) {
      .box-item {
        max-width: 195px !important;
      }
    }
  }

  .girl-5 {
    width: 380px;
    position: absolute;
    bottom: 0;
    right: 10%;
    @media (max-width: 575px) {
      width: 250px;
      right: 0;
    }
  }
  .s9 {
    position: absolute;
    width: 170px;
    top: -12%;
    right: 35%;
    @media (max-width: 991px) {
      width: 150px;
      top: -10%;
    }
    @media (max-width: 767px) {
      width: 100px;
      top: -10%;
    }
    @media (max-width: 425px) {
      width: 100px;
      top: -5%;
      right: 25%;
    }
  }
}
.section-9 {
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: {
    top: 100px;
    bottom: 100px;
  }
  min-height: 600px;
  background: {
    image: url('~@/assets/images/background/bg9.png');
    color: #70002600;
    size: cover;
    repeat: no-repeat;
    // attachment: i;
    position: {
      x: center;
      y: top;
    }
  }
  .hr.dec-color {
    margin: 15px auto 15px auto;
    min-width: 250px;
    width: 70%;
    max-width: 400px;
    box-shadow: (0px 0px 23.4774px #ff0055);
  }
  .section-title {
    margin-bottom: 10px;
  }
  .download-box {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    min-height: 510px;
    @media (max-width: 1024px) {
      min-height: 350px;
    }
    .girl {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      @media (max-width: 1024px) {
        width: 800px;
        position: absolute;
        bottom: 0;
        margin: auto;
        left: calc((100% - 800px) / 2);
        right: calc((100% - 800px) / 2);
      }
    }
    .btn-download {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 275px;
    }
  }
}
.footer {
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: {
    top: 50px;
    bottom: 50px;
  }
  min-height: 400px;
  background: {
    image: url('~@/assets/images/background/footer.png');
    color: #70002600;
    size: cover;
    repeat: no-repeat;
    // attachment: i;
    position: {
      x: center;
      y: top;
    }
  }
  .hr.dec-color {
    margin: 15px auto 15px 0;
    width: 160px;
    box-shadow: (0px 0px 23.4774px #ff0055);
  }
  .section-title {
    margin-bottom: 10px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer-item {
      min-width: 300px;
    }
  }
  p {
    margin-top: 40px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 100;
    text-align: justify;
    max-width: 300px;
    span {
      font-weight: 800;
    }
  }
  .social {
    img {
      width: 40px;
      height: 40px;
      margin: 5px;
    }
  }
  .img-logo {
    max-width: 120px;
    margin: 20px 10px 0px 0px;
  }
  .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 0;
    li {
      margin: {
        top: 5px;
        bottom: 5px;
      }
      a {
        color: #fff;
        span {
          font-weight: 800;
        }
      }
    }
  }
}
.social {
  img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
}
@media (min-width: 1600px) {
  .container-fluid {
    max-width: 1800px;
  }
}
@media (min-width: 1300px) {
  .footer {
    .container-fluid {
      max-width: 1200px;
    }
  }
}
.panel-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  background: #1d1212;
  z-index: 1070;
  padding: {
    top: 50px;
    left: 5px;
    right: 5px;
  }
  .hr.dec-color {
    margin: 15px auto 15px auto;
    width: 100%;
    max-width: 200px;
    box-shadow: (0px 0px 23.4774px #ff0055);
  }
  .social {
    justify-content: center;
    display: flex;
  }
  .close-btn {
    position: absolute;
    top: 5px;
    left: 5px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  @media (max-width: 767px) {
    .nav-menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      color: #ffff;
      .menu-item {
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        margin: 5px 0px;
        a {
          color: #fff;
          text-transform: capitalize;
          font-size: 17px;
          font-weight: 700;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .top-bar {
    .nav-menu {
      display: none;
    }
  }
}
.mobile-menu {
  display: none;
}
@media (max-width: 767px) {
  .section {
    padding-top: 40px !important ;
    padding-bottom: 40px !important ;
  }
  .mobile-menu {
    display: block !important;
  }
}
</style>
